<button class="ContainerNormal ContainerNormalHover ButtonPrimary">
    <p class="ButtonPrimary__Text">
        @if (ChildContent is not null) {
            @ChildContent
        }
    </p>
</button>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
}