<a class="ButtonArrow">
    <div class="ButtonArrow__Ctn">
        <div class="ButtonArrow__img"></div>
        @ChildContent
    </div>
</a>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; } = @<p>Msg</p>;
}