<button class="ContainerNormal ContainerNormalHover ButtonPrimary"
        @onclick="TriggerOnClick">
    <p class="ButtonPrimary__Text">
        @if (ChildContent is not null) {
            @ChildContent
        }
    </p>
</button>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public EventCallback OnClickCallback { get; set; }

    private async Task TriggerOnClick() {
        await OnClickCallback.InvokeAsync();
    }

}