<div class="ButtonPrimary">
    <div class="ButtonPrimary__Shadow"></div>
    <button class="ButtonPrimary__Foreground">
        @BtnMsg
    </button>
</div>

@code {
    [Parameter] public string BtnMsg { get; set; } = "Message";
}