.ButtonArrow {
    padding-left: 0;
    
    border: none;
    
    background-color: rgba(255,255,255,0);
    
    overflow: clip;
}

.ButtonArrow__Ctn {
    display: flex;
    flex-direction: row;
    gap: 0.125rem;
    
    translate: -1rem;
    
    transition-duration: 200ms;
}

.ButtonArrow:hover .ButtonArrow__Ctn {
    translate: 0;
}

.ButtonArrow__img {
    width: 1rem;
    height: 1rem;
    
    align-self: center;
    
    background-image: url("arrow-right-solid.svg");
    background-repeat: no-repeat;
    background-size: contain;
}