.ProjectCard__ProjectImage {
    object-fit: contain;
    justify-self: center;
    align-self: center;
    
    width: 100%;
    max-width: 350px;
}

.ProjectCard__ProjectContent {
    display: flex;
    flex-direction: column;
}

.ProjectCard__ProjectContent__Buttons {
    align-self: flex-end;
    
    display: inline-flex;
    flex-direction: column;
    gap: 0.55rem;
}

.ProjectCard__ProjectContent__Buttons--Btn {
    width: 10rem;
}