.ProjectCard__ProjectImage {
    object-fit: contain;
    justify-self: center;
    align-self: center;
    
    width: 100%;
    max-width: 350px;
}

.ProjectCard__ProjectContent {
    padding: 1rem;
    padding-top: 0;
    
    gap: 1.5rem;
}

.ProjectCard__ProjectContent__Texts {
    max-height: 250px;
    
    gap: 0.5rem;
    overflow: hidden;
}

.popup {
    overflow: scroll;
    overflow-x: hidden;
}

.ProjectCard__ProjectContent__Texts--Heading { }

.ProjectCard__ProjectContent__Texts--Description {
    margin-left: 0.25rem;
}

.ProjectCard__ProjectContent__Buttons {
    align-self: flex-end;
    
    display: inline-flex;
    flex-direction: column;
    gap: 0.55rem;
}

.ProjectCard__ProjectContent__Buttons--Btn {
    width: 10rem;
}