@page "/"
@using Components.Cards

<section id="AboutMe"
         class="PageSection flex-col">
    <h2 class="PageSection__Heading">
        About Me
    </h2>
    <div class="AboutMe flex-row">
        <div class="AboutMe__Texts flex-col">
            <h1 class="AboutMe__Heading">
                Adrian - LoneDev - Czubaty
            </h1>
            <p class="AboutMe__description">
                Od 15 roku życia interesuje się programowaniem, w szerokim znaczeniu tego słowa, 
                zaczynałem od podstaw C++, z którego korzystam do teraz na co dzień. Zacząłem się 
                rozwijać również w innych gałęziach przemysłu IT, takich jak: web development 
                (frontend oraz backend), silniki gier (głównie Godot). Aktualnie staram się dążyć 
                do posiadania szerokiej wiedzy z tych gałęzi IT i wierzę, że otrzymując szansę na 
                pracę mogę się wiele nauczyć.
            </p>
        </div>
        <img src="img-placeholder.svg"
             alt=""
             class="ContainerNormal AboutMe__Image" />
    </div>
</section>

<section id="MyWork"
         class="PageSection flex-col">
    <h2 class="PageSection__Heading">
        My Work
    </h2>

    <div class="MainPage-grid flex-col">
        <ProjectCard ProjectReadMeLink="https://api.github.com/repos/Qwerex56/newsletter-signnup-form/readme"
                     ProjectLiveSite="https://stellular-sherbet-72f94d.netlify.app/">
            <HeaderContent>
                Custom Title2
            </HeaderContent>
            <DescriptionContent>
                Some description
            </DescriptionContent>
        </ProjectCard>
        <ProjectCard>
            <HeaderContent>
                Custom Title
            </HeaderContent>
            <DescriptionContent>
                Some description
            </DescriptionContent>
        </ProjectCard>
        <ProjectCard>
            <HeaderContent>
                Custom Title
            </HeaderContent>
            <DescriptionContent>
                Some description
            </DescriptionContent>
        </ProjectCard>
    </div>
</section>

<section id="Blog"
         class="PageSection">
    Nothing To see here. Section in the making ;)
</section>

<section id="ContactMe"
         class="PageSection">
    Nothing To see here. Section in the making ;)
</section>


@code {

}