@page "/"
@using Components.Cards

<div style="display: flex;">
    <ProjectCard>
        <HeaderContent>
            Custom Title
        </HeaderContent>
        <DescriptionContent>
            Some description
        </DescriptionContent>
    </ProjectCard>
</div>


@code {
    
}