@using Components.Buttons

<div class="NavBar">
    <p class="NavBar__Logo">LoneDev</p>
    <div class="NavBar__Buttons">
        <ButtonArrow>About me</ButtonArrow>
        <ButtonArrow>My work</ButtonArrow>
        <ButtonArrow>Blog</ButtonArrow>
        <ButtonArrow>Contact</ButtonArrow>
    </div>
</div>

@code {

}