/* _content/Components/Buttons/ButtonArrow.razor.rz.scp.css */
.ButtonArrow[b-2ebn0ogzx8] {
    padding-left: 0;
    
    border: none;
    
    background-color: rgba(255,255,255,0);
    
    overflow: clip;
}

.ButtonArrow__Ctn[b-2ebn0ogzx8] {
    display: flex;
    flex-direction: row;
    gap: 0.125rem;
    
    translate: -1rem;
    
    transition-duration: 200ms;
}

.ButtonArrow:hover .ButtonArrow__Ctn[b-2ebn0ogzx8] {
    translate: 0;
}

.ButtonArrow__img[b-2ebn0ogzx8] {
    width: 1rem;
    height: 1rem;
    
    align-self: center;
    
    background-image: url("arrow-right-solid.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
/* _content/Components/Buttons/ButtonPrimary.razor.rz.scp.css */
.ButtonPrimary[b-imugxlmgo4] {
    padding: 0.5rem;
    
    text-align: center;
    
    background-color: var(--cream);
}
/* _content/Components/Cards/CardBase.razor.rz.scp.css */
.CardBase[b-bu7w3gd0jq] {
    display: flex;
    flex-direction: column;
    
    gap: 1rem;
}
/* _content/Components/Cards/ProjectCard.razor.rz.scp.css */
.ProjectCard__ProjectImage[b-jrz73y12r5] {
    object-fit: contain;
    justify-self: center;
    align-self: center;
    
    width: 100%;
    max-width: 350px;
}

.ProjectCard__ProjectContent[b-jrz73y12r5] {
    padding: 1rem;
    padding-top: 0;
    
    gap: 1.5rem;
}

.ProjectCard__ProjectContent__Texts[b-jrz73y12r5] {
    gap: 0.5rem;
}

.ProjectCard__ProjectContent__Texts--Heading[b-jrz73y12r5] {
    
}

.ProjectCard__ProjectContent__Texts--Description[b-jrz73y12r5] {
    margin-left: 0.25rem;
}

.ProjectCard__ProjectContent__Buttons[b-jrz73y12r5] {
    align-self: flex-end;
    
    display: inline-flex;
    flex-direction: column;
    gap: 0.55rem;
}

.ProjectCard__ProjectContent__Buttons--Btn[b-jrz73y12r5] {
    width: 10rem;
}
