.ContainerBase {
    box-sizing: border-box;
    position: relative;
    
    display: flex;
}

.ButtonPrimary__Shadow {
    position: absolute;
    
    width: 100%;
    height: 100%;
    
    translate: 3px 3px;
}