/* /Layout/NavMenu.razor.rz.scp.css */
.NavBar[b-yqju0323zw] {
    display: flex;
    flex-direction: row;
 
    --px: 1rem; --py: 1.5rem;
    padding: var(--py) var(--px);

    width: 100%;
}

.NavBar__Logo[b-yqju0323zw] {
    font-size: 3rem;
}

.NavBar__Buttons[b-yqju0323zw] {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 2rem;
    
    gap: 5rem;
    font-size: 1.5rem !important;
}
